include MANIFEST.in
include setup.py
include LICENSE
prune README.md
prune examples/*
prune tests
prune test 
prune roux/data*
prune roux/deps* 
prune roux/plot*
prune roux/fig*
prune roux.egg-info
prune .ipynb_checkpoints
prune *-checkpoint*
prune roux/.ipynb_checkpoints
include roux/*.py
include roux/*.md
include roux/*/*.py